.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-outline-primary {
  color: #6a0689 !important;
  border-color: #6a0689 !important;
}

.btn-outline-primary:hover {
  background-color: #6a0689 !important;
  color: white !important;
}

a {
  color: white !important;
}

a:hover {
  color: white !important;
}

@font-face {
  font-family: 'roboto';
  src: local("./fonts/Roboto"), url(fonts/Roboto-Bold.ttf) format('truetype');
}

.fewUTf {
  display: none !important;
}